<div class="home-intro">
    <div class="jumbo">{{site.heading}}</div>
    <div class="home-sub-text"> 
		<h3>
			Una collezione dei miei <b>appunti</b>, approfondimenti, ricerche e letture 
			in materia di <b>storia</b>, <b>letteratura</b>, <b>informatica</b> etc... 
			<br />
			<br />
			La maggior parte dei lavori sono orientati al programma di quinto superiore per l'indirizzo
			<i>"informatica e telecomunicazioni"</i>. Per gli articoli ed i post, visita il <a href="{{'/notes' | relative_url}}" class="navbar-item">Feed</a>.
        </h3> 
	</div>
</div>